{% extends "base.html" %}

{% block content %}
<div class="container">
    {% if not faster %}
        <a style="color:white" href='/faster'>
            <div class='button'>
                Try faster
            </div>
        </a>
        <div id='delete_cache' class='button'>
            Delete cache
        </div>
    {% else %}        
        <a style="color:white" href='/'>
            <div class='button'>
                Back to recursive method with memoization
            </div>
        </a>
    {% endif %}

    <div class="row">
        <form class="column" id="fibform" style="margin:100px 100px 0 100px">
            <h4>Calculate nth number in fibonacci sequence</h4>
            <input id='fibin' class="input" type="text" name="number" placeholder="enter integer number">
            <div class="ecommerce-loading-button text-center">
                <div class="loading-button">
                    <button type="submit" class="primary button" data-loading-start>Calculate</button>
                    <button type="button" class="primary button hide" data-loading-end> 
                        <div class="fa"><i class="fas fa-spinner fa-spin"></i></div> Processing
                    </button> 
                </div>
            </div>
        </form>
        <div class="column" style="margin:20px 100px">
            <div id='n'></div><br>
            <div id='nth_term'></div><br>
            <div id='calculation_time'></div><br>
        <div>
    </div>
    <pre class="card" style="border: solid 1px grey">
    

    Admin: /admin

        username: admin
        password: admin
    </pre>
    <div class="card" style="border: solid 1px grey">
    <pre>

        GET /api/v1/fibonacci/?number=10

        would give json response 
        {
            "computation_time": "0.007254838943481445 second",
            "value": "55"
        }

        Another endpoint
        GET /api/v1/fibonacci/faster/?number=10
        {
            "computation_time": "1.5020370483398438e-05 second",
            "value": "55"
        }
    </pre>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
    $('#delete_cache').on('click', function(e){
        var result = confirm('Are you sure?');
        if(result){
            e.preventDefault(); 
            $.ajax({
                url: '/delete_cache',
                async: 'false',
                cache: 'false',
                type: 'GET',
                success: function(response){
                    alert(Object.values(response).join('\n'));
                },
                error: function(jqXHR, exception){
                    alert(Object.values(jqXHR.responseJSON).join('\n'));            
                }
            });
        }
    });
    $('#fibform').on('submit', function(e){
        var form = $(this);
        if('{{faster}}'){
            var url = '/api/v1/fibonacci/faster/';
        } else {
            var url = '/api/v1/fibonacci/';
        }
        e.preventDefault(); 
        $.ajax({
            url: url,
            async: 'false',
            cache: 'false',
            type: 'GET',
            data: form.serialize(),
            success: function(response){
                $('#n').html(
                    " n : " +  "<strong> " + $('#fibin').val() + " </strong>"
                );
                $('#nth_term').html(
                    " nth term : " +  "<strong style='overflow-wrap: break-word;'> " + response.value + " </strong>"
                );
                $('#calculation_time').html(
                    " Calculation time : " +  "<strong> " + response.computation_time + " </strong>"
                );
                $('[data-loading-start]').removeClass('hide');
                $('[data-loading-end]').addClass('hide');
            },
            error: function(jqXHR, exception){
                alert(Object.values(jqXHR.responseJSON).join('\n'));
                $('[data-loading-start]').removeClass('hide');
                $('[data-loading-end]').addClass('hide');
            }
        });
    });
    $('[data-loading-start]').click(function() {
    $(this).addClass('hide');
    $(this).parent().find('[data-loading-end]').removeClass('hide');
});

</script>
{% endblock javascript %}
