{% load staticfiles %}
<!DOCTYPE html>
<html  lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block head_title %} Fibonacci {%  endblock head_title %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        {% block head_extra %}{% endblock %}
    </head>

    <style>{% block style %}{% endblock style %}</style>
     <body>

       <div class="top-bar">
         <div class="top-bar-left">
            <a style="color:black" href="/">Fibonacci</a>
         </div>
          <div class="top-bar-right">
            <a style="color:black" href="https://gitlab.com/karansthr/fib">Gitlab link</a>
         </div>
       </div>


        {% block content %}{% endblock content %}

    <script src="https://code.jquery.com/jquery-3.4.0.min.js" 
      integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" 
      crossorigin="anonymous">
    </script>
        {% block javascript %} {% endblock javascript %}
    </body>
</html>
